:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body{
  background-color: var(--foreground);
}
.TempContainer {
  /* height: 100%; */
  width: 100%;
  /* border: solid 1pt red; */
  /* transform: translate(999, 912) scale(.5 , .5); */
  
}


.Main{
  display: flex;
  justify-content: center;
}

.full{
  border: solid 1pt red;
  height: 100vh;
  width: 100dvw;
  
}

.myCanvas{

  
  background-color: azure;
}


/* .container {
  
  border: solid 1pt blue;
  width: 80dvw;
  height: 100dvh;
  
} */
